.spotifyIcon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: block;
    z-index: 10;
}

.spotifyBox {
    position: fixed;
    bottom: 90px;
    right: 50px;
    z-index: 10;
}