.header {
  position: absolute;
  z-index: 60;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbarSticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70;
}


.navbarInner {
  @media only screen and (min-width: 1200px) {
    padding: 2.5rem 3.75rem;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarCenter {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0.9375rem;
  pointer-events: none;
  align-items: center;
}

.navbarLogo {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.menu {
  font-size: 0;
  height: 100%;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem {
  display: inline-flex;
  float: none;
  min-height: 100%;
  padding: 0;
  -webkit-box-align: center;
  align-items: center;
}

.menuItemA {
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: .02rem;
  text-transform: uppercase;
  display: block;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.margin {
  margin-left: 3.125rem;
}
